/***** Global *****/
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #272b30;
  font-family: "Comfortaa", cursive;
  color: white;
}
nav {
  z-index: 9999;
}
.mainHeader img {
  height: 30vh;
  object-fit: cover;
}
nav .container {
  background-color: #3a497b;
}
nav .logo {
  font-family: "Nerko One", cursive;
  color: white;
}
nav .nav-link {
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.navbar-nav .nav-link.active {
  color: #09c;
}
/****Home****/
.mainCard {
  background-color: #272b30;
  cursor: pointer;
  transition: all 0.7s;
}
.mainCard .btnCard {
  font-size: 12px;
  background-color: #3a497b;
  border: none;
}
.mainCard .spanCard {
  font-size: 12px;
}
.mainCard img {
  filter: brightness(40%);
  transition: all 0.7s;
}
.mainCard:hover img {
  filter: brightness(100%);
}
.mainCard:hover {
  transform: scale(1.05);
}
.mainCard p,
.cater {
  font-size: 12px;
}
.close {
  cursor: pointer;
}
.detail {
  overflow-y: scroll;
  position: fixed;
  inset: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  background-color: #272b30;
}
.detail a:hover {
  background-color: #ffc107;
  color: white;
}
/*loading**/
.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
